.file-status {
    --upload-border-radius: 10px;
    --upload-size: 70px;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: var(--font-regular);
    font-size: var(--button-font-size);
    color: var(--color-text);
}

.file-status__text {
    border: none;
    padding: var(--button-padding);
    border-radius: var(--upload-border-radius);
    background: #FFFFFF;
    height: var(--upload-size);
    flex-shrink: 0;
}

.file-status__text--uploaded { background: #e0b0ff; }
.file-status__text--processing { background: #d9b3ff; width: 300px; }
.file-status__text--done { background: #d0f0c0; }
.file-status__text--error { background: #ff6f42; color: white; }

.file-status__button-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-status__subtext {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    font-weight: var(--font-regular);
    font-size: var(--button-font-size);
    color: var(--color-text);
}

.file-status__close {
    background: var(--button-color-dark);
    color: white;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.file-status__spinner {
    animation: rotate 1s linear infinite;
    width: 40px;
    height: 40px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}