.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 40px;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-weight: var(--font-regular);
    font-size: 30px;
    cursor: pointer;

    flex: 1;
}

.file-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.file-name {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.file-status svg {
    fill: currentColor;
}

.file-status--grayed-out {
    color: #8F64AE;
}