.upload-button {
    --upload-button-border-radius: 10px;
    --upload-button-size: 70px;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: var(--font-regular);
    font-size: var(--button-font-size);
    color: var(--color-text);
}

.upload-button__file {
    border: none;
    padding: var(--button-padding);
    border-radius: var(--upload-button-border-radius);
    background: #FFFFFF;
    height: var(--upload-button-size);
    width: 100%;
}

.upload-button__text {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    font-weight: var(--font-regular);
    font-size: var(--button-font-size);
    color: var(--color-text);
}

.upload-button__file--uploaded { background: #e0b0ff; }
.upload-button__file--parsing { background: #d9b3ff; }
.upload-button__file--done { background: #d0f0c0; }
.upload-button__file--error { background: #ff6f42; color: white; }

.upload-button__close {
    background: var(--button-color-dark);
    color: white;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-button__spinner {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
