:root {
  --color-bg: #fce2ff;
  --color-text: #201b10;
  --color-primary: #cb81ff;
  --color-primary-light: #eacdff;
  --color-success-light: #d4fae6;
  --color-disabled: #787878;
  --color-text-primary: #cb81ff;
  --color-error: #ff5f00;

  --font-main: "Roboto", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-size: 1.875rem;

  --button-padding: 15px 27px 15px 27px;
  --button-border-radius: 25px;
  --button-font-size: 35px;
  --button-color-dark: #201b10;
}

body {
  font-family: var(--font-main), sans-serif;
}
