.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    border-radius: 45px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    overflow: hidden;
    width: 1000px;
    padding: 40px;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #111827;
}

.content {
    padding: 24px;
    overflow-y: auto;
}

.modal-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.cancel-button {
    position: absolute;
    right: calc(50% - 500px - 100px);
    top: -20px;
    z-index: 1001;
}